*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mitr', sans-serif;
}

body{
    background-color: rgb(250, 250, 250);
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main{
    box-sizing: border-box;
    width: 95%;
    height: 100%;
    padding: 0rem 0.5rem;
    background-color: rgb(255, 255, 255);
    padding-top: 4rem;
    position: relative;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    
}
/* menu */
.menu{
    box-sizing: border-box;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: start;
    position: fixed;
    box-shadow: 0 0 10px #333;
    top: 0;
    z-index: 2;
}

.logo{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border: 1px solid red;
    position: relative;
}

.logo img{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}



.menu ul{
    background-color: whitesmoke;
    width: 100%;  
    list-style: none;
    display: flex;
    justify-content: end;
    padding-right: 3.5rem;
     
}
.menu ul li{
    margin: 0 0.2rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0.4rem;
    font-size: 18px;
    font-weight: 600;
}

.ani::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #000000;
    transition: width .3s;
}

.ani:hover::after{
    width: 100%;
    transition: width .3s;
}

.toggle{
    display: none;
}

@media screen and (max-width: 1000px){
	.menu{
        height: 120px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top:0rem;
       
    }

    .toggle{
        position: absolute;
        top: 30px;
        right: 30px;
        font-size: 30px;
        display: inline-block;
        cursor: pointer;
    }
    .logo{
        height: 100px;
        margin-bottom: 2rem;
        width: 30%;
        background-color: rgb(0, 0, 0);
        position: relative;
        position: absolute;
        top: 6px;
    }
    
    .logo img{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }

    .menu ul{
        margin-top: 28rem;
        flex-direction: column;
        padding: 0;
        justify-content: end;
        align-items: center;
        display: none;
        background-color: rgb(250, 250, 250);
        z-index: -1;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .menu ul li{
        font-size: 15px;
        margin: 12px;
        text-align: center;
        padding: 5px 50px;
    }

    .active{
        display: flex !important;
    }
    
}
/* ShowPicture NewProduct */

.NewPro{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infoNew{
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: underline;
    font-size: 30px;
}

.PicNew img{
    width: 100%;
    height: 100%;
   
}

/* ProductLine */
.product{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    flex-wrap: wrap;
}

.itemB{
    margin: 1rem 1rem;
    width: 30%;
    border-radius: 25px;
    box-shadow: 0 0 5px #333;
    background-color:whitesmoke;
    overflow: hidden;
}


.itemB a{
    text-decoration: none;
    color: #000000;
}

.picB img{
    width: 100%;
    height: 100%;
    justify-content: center;
    object-fit: cover;
}

.infoB{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    
}

.infoB h4{
   justify-content: space-between;
   padding-left: 15px;
}

.infoB p{
   padding-left: 17px;
}

.spanB span{
    font-weight: bold;
    justify-self: end;
    margin-right: 0.5rem;
}

/* Footer */

.footer{
    bottom: 0;
    width: 100%;
    border: 1px solid red;
}

.footerinfo {
    text-align: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
}

.footerinfo h1{
    text-align: center;
    color:#333;
    padding: 0.3rem;
}

.footerinfo h3{
    margin-left: 1rem;
    text-align: left;
    color: #333;
    margin-bottom: 2px;
}

.footer ul{
    list-style: none;
    padding: 10px;
    text-align: left;
    display: flex;
    border: 1px solid red;
    flex-direction: column;
    color: #333;
}

.footer ul li{
    padding: 5px;

}

/* table*/

.tableS{
    display: flex;
    align-items: stretch;    
    justify-content: space-evenly;
    gap: 12rem;
    text-align: center;
}

.infoMen{
    text-align: center;
    margin-top: 4rem;
}

.tableS h2{
    color: #000000;
    padding: 2rem;
    font-size: 20px;
}



.infoMen{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}


 table {
    border: 1px solid red;
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    
    
  }
  
 thead {
    background-color: #f5f5f5;
  }
  
 th,td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
  }
  
 th {
    font-weight: bold;
  }
  
 tr:nth-child(even) {
    background-color: #cac5c5;
  }
  
 td:first-child {
    font-weight: bold;
  }
  
  /* Contact */

  .boxCon{
    display: flex;
    position: relative;
    width: 80%;
    height: 100%;
    justify-content: center;
    align-items: center;
	text-align: center;
	background-color: #fff;
    margin-top: 9rem;
   
  }

  .boxleft{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%;
    overflow: hidden;
  }


.boxright{
    display: flex;
    flex-direction: column;
	padding: 25px 40px;
}

.boxright h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.boxright h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #000000;
}

.filedCon{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.filedCon:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    
}

.filedCon:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.boxCon{
		display: flex;
        flex-direction: column;
	}
	.boxleft{
		height: 100%;
     
	}
}

/* thankyou */

.Thank{
    text-align: center;
}

.Thank h1{
    padding: 16rem 0;
    font-size: 100px;
}


/* allproduct */

.AllProduct{
    margin-top: 2rem;
}

.forMen h1{
    padding-left: 3rem;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

.forWomen h1{
    padding-left: 3rem;
    padding-top: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}

/* Mainproduct */
.mainProduct{
    display: flex;
    padding: 2rem;
}

.mainProduct img{
    margin-left: 5rem;
    width: 35%;
    border: 1px solid #000000;
    box-shadow: 0 0 4px #333;
}

.Comming{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    padding-top: 30px;
    gap: 3.5rem;
    padding-left: 40px;
    justify-content: start;
    align-items: start;
}

.Comming h1{
  font-size: 4rem;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  
}

.Comming p{
    padding: 10px;
    font-size: 1.5rem;
    text-indent: 30px;
   
}

.Comming button{
    position: absolute;
    bottom: 10px;
    right: 40px;
}

.Comming span{
    position: absolute;
    bottom: 10px;
    left: 40px;
    font-weight: 700;
    font-size: 30px;
}

.btnC{
    
    width: 20%;
    border-radius: 20px;
	padding: 0.5rem 1rem;
	background-color: #000000;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;

}

.btnC:hover{
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    
}

@media screen and (max-width: 1000px){
	.mainProduct{
		display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        
	}
	.mainProduct img{
        width: 100%;
        margin-left: 0;
    }

    .Comming button{
        position: absolute;
        bottom: 0px;
        right: 20px;
    }
    
    .Comming span{
        position: absolute;
        bottom: 0px;
        left: 50px;
        font-weight: 700;
        font-size: 20px;
    }
    .Comming p{
        padding: 10px;
        font-size: 1.5rem;
        text-indent: 30px;
        padding-bottom: 60px;
    }
    .btnC{
    
        width: 25%;
       
    
    }
}


/* about */

.about{
    margin-top: 1.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 70px;
    text-decoration: underline;
    color: #333;
}

.about p{
    color: #333;
    padding: 2px;
    font-size: 25px;
    text-indent: 50px;
}